@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Jersey+25&display=swap');
*{
    margin:0;
    padding:0;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
}

header{
    width:100%;
    height:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-size: 4rem;
}

figure{
    padding:10px;
}

figure img{
    width:200px;
}

header{
    margin:0;
}

nav .navbar{
    display:flex;
    flex-direction: row;
}
nav .navbar li{
    margin:0px 10px;
    list-style-type: none;
}

section .background-img{
    width:100%;
    overflow:hidden;
}

section .background-img img{
    width:100%;
}

.hero{
    position:relative;
    display:flex;
    justify-content: center;
}

.hero-info{
    position: absolute;
    top:39%;
    text-align: center;
}

.hero-info h1,.hero-info h2{
    color:white;
}

.hero-info .buttons button{
    padding:10px 50px;
    margin: 10px 20px;
    background:hsl(0, 100%, 59%);
    color:whitesmoke;
    font-weight: bold;
    border:none;
}

.news{
    text-align: center;
    margin:2rem;
}

.news h3{
    color:#AAAAAA;
    margin:10px;
    padding:10px;
}

.news h2{
    font-size: 3rem;
    margin:20px 0 40px 0;
    color:rgb(39, 39, 39);
}

.news p{
    color:#505050;
    line-height: 1.5rem;
}

footer{
    background:black;
    color:white;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

footer .subscription{
    text-align: center;
    width:300px;
    margin: 50px;
    padding:50px;
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

form input{
    margin: 1px 0;
    background: rgb(56, 56, 56);
    color:white;
    margin:0;
    padding: 10px;
    border:none;
}

form button{
    height:50px;
    background: rgb(207, 67, 67);
    color:white;
    border:none;
    font-weight: bold;
}

footer .socialmedia ul{
    margin: 20px 0;
    display:flex;
    flex-direction: row;
    width:80%;
    text-align: center;
    align-items: center;
}

footer .socialmedia li{
    list-style-type: none;
    margin:0px 10px;
}

footer .socialmedia li a{
    color:rgb(255, 134, 134);
    text-decoration: none;
    font-size: 3rem;
}

footer .socialmedia h3{
    margin-top: 1rem;
    text-align:center;
}

@media (max-width:1024px){
    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1rem;
    }

    header{
        height: auto;
        margin:0 auto;
        display:block;
    }

    figure{
        width:100%;
        text-align: center;
    }
    nav .navbar{
        margin-bottom: 2rem;
        display:block;
        text-align: center;
    }

    .hero{
        position:static;
        display:flex;
        justify-content: center;
        flex-direction: column;
        margin: 10px 0;
    }
    
    .hero-info{
        margin-top:3rem;
        position: static;
        text-align: center;
    }
    
    .hero-info h1,.hero-info h2{
        color:rgb(0, 0, 0);
    }
    
    .hero-info .buttons button{
        padding:10px 50px;
        margin-top: 2rem;
        background:hsl(0, 100%, 59%);
        color:whitesmoke;
        font-weight: bold;
        border:none;
    }  

    .news{
        margin:0;
    }

    .news h2{
        font-size: 2rem;
        margin:20px 0 40px 0;
        color:rgb(39, 39, 39);
    }

    footer{
        flex-direction: column;
    }
}