@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Indie+Flower&family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Indie+Flower&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rammetto+One&display=swap');

*{
    margin: 0;
}
body {
    /*font-family: "Indie Flower", cursive;*/
    font-family: "Playfair Display", serif;
    margin: 0;
    /*background: rgba(28, 1, 1, 0.877);*/
    background: rgb(77,8,8);
    background: radial-gradient(circle, rgba(77,8,8,1) 0%, rgba(28,1,1,0.8744747899159664) 100%);
    color:rgba(255, 232, 203, 0.877);
  }

.adatok {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
header h1{
    font-size: 60px;
    margin-bottom: 0;
    text-transform: uppercase;
}
.choice{
    width: 500px;
    height: auto;
     overflow: hidden;
    border-radius: 10px;
    outline: solid rgba(255, 232, 203, 0.877) 2px;
}

img {
    width: 100%;
    overflow: hidden;
}
.telef{
    display: none;
}
.confetti1 {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 300px;
}

.confetti2 {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left    : 300px;
}
.confetti1, .confetti2{
    margin-top: 270px;
}
@media (max-width:1024px) {
    header h1{
        font-size: 30px;
        margin:30px auto;
    }
    .choice{
        width: 300px;
    }
    .confetti1, .confetti2{
        margin: 0;
        margin-left: 0;
        display: none;
    }
    .adatok{
        display: flex;
        flex-direction: column;
    }
    .telef{
        display: flex;
    }
    
    
}