@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    
    margin:0px;
    padding:0px;
}

header{
    position: fixed;
    top: 0;
    
    background:rgb(255, 255, 255);
    height:100px;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header figure img{
    margin-left:20px;
    height:100px;
}

header ul{
    display:flex;
    flex-direction: row;
    margin-right: 20px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color:rgb(0, 54, 202);
    margin: 0 10px;
    font-size: 1rem;
}

header ul li a:hover{
    color:rgb(0, 0, 0);
}

body{
    align-items: center;
    background:rgb(177, 178, 255);
}

.lap{
    margin:150px auto;
    padding:30px 0;
    height:auto;
    width:80%;
    background:rgb(233, 233, 233);
    border-radius: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lap h3{
    margin-top:20px;
}

.lap h2{
    color:rgb(0, 0, 143);
}

body .lap .img-box{
    margin: 40px auto;
    height:70%;
    width:70%;
    border-radius: 30px;
    overflow: hidden;
}
.lap img{
    width:100%;
    overflow: hidden;
}

footer{
    bottom:0;
    height:auto;
    background:black;
    padding:50px 0;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.social{
    display:flex;
    align-items: center;
    flex-direction: column;
}

footer p{
    color:white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

footer a{
    font-size: 2rem;
    text-decoration: none;
    color: blue;
    margin-bottom: 50px;
}

.about{
    margin-top:30px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.about p{
    margin-right: 10px;
}

.about a{
    text-decoration: none;
    color:darkslategrey
}

.about a:hover{
    color:rgb(255, 72, 0)
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width:200px;
}

.form input{
    width:200px;
    border:none;
    height:30px;
}

.form button{
    width:200px;
    height: 30px;
    background: rgb(0, 0, 43);
    border: none;
    color: whitesmoke;
}


@media (max-width:1024px){

    body .lap .img-box{
        width:100%;
    }

    footer{
        flex-direction: column;
    }

    .lap img{
        margin:40px 0;
        width:100%;
        height:auto;
        border-radius: 30px;
    }

    .lap{
        margin:25px 0;
        border-radius: 0;
        width: 100%;
    }

    header{
        position:static;
        height:auto;
        flex-direction: column;
    }

    header img{
        width:100%;
    }

    header ul{
        display:flex;
        flex-direction: column;
        margin-right: 20px;
        margin-bottom: 10px;
    }

    header ul li a{
        text-decoration: none;
        font-size: 1.5rem;
    }
}